In [33]:
# 1.Variable can not start with any symbol (exclude(_)) and number.
# 2.Variable can not contain whitespaces.
# 3.Can not use Predefined keyword in python as variable.
# 4.Variable in python are case-senstive.
a=20
b=30
print(a+b)

50

In [43]:
a=34
b=50
c=66
d=58
g=68

print(a)
print(b)
# print(f)
print(c)
print(d)
print(g)
print(id(a))
print(type(a))

34
50
66
58
68
140720658597832
<class 'int'>

In [ ]:
# What is variable and why creats.
# Data types

In [ ]:
# Data types : 
# 1.integer (int) -> positive/negative number .
# 2.Float (decimal)
# 3.String (str) -> group of char (name,address).
# 4.boolean (True:1,False:0)

In [1]:
# 1.integer (int) -> positive/negative number .
num=300
print(type(num))

<class 'int'>

In [2]:
# 2.Float (decimal)
n1=50.78
print(type(n1))

<class 'float'>

In [3]:
# 3.String (str) -> group of char (name,address).
user_name="Aman"
print(type(user_name))

<class 'str'>

In [4]:
user_name='Aman'
print(type(user_name))

<class 'str'>

In [11]:
user_details='''aman 
"roll":"34768"
student'''
print(user_details)

aman
"roll":"34768"
student

In [15]:
text="""Lorem ipsum is a dummy text without any sense. It is a sequence of Latin words that,
                    as they are positioned, do not form sentences with a complete sense, but give life
        to a test text useful to fill spaces that will subsequently be occupied from 
                                ad hoc texts composed by "communication" professionals."""
print(text)
print(type(text))

text=6776
print(type(text))

text='6776'
print(type(text))

Lorem ipsum is a dummy text without any sense. It is a sequence of Latin words that,
                    as they are positioned, do not form sentences with a complete sense, but give life
        to a test text useful to fill spaces that will subsequently be occupied from
                                ad hoc texts composed by "communication" professionals.
<class 'str'>
<class 'int'>
<class 'str'>

In [18]:
# 4.boolean (True:1,False:0)
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [21]:
## I/O : INPUT / OUTPUT OPERATION
num1=input("Enter your num 1 : ")
num2=input("Enter your num 2 : ")
print(num1+num2)
print(type(num1))
print(type(num2))

Enter your num 1 :  45
Enter your num 2 :  45

4545
<class 'str'>
<class 'str'>

In [22]:
# type conversion : automatically -> samll->large
num=34.90
num1=30
print(num+num1)

64.9

In [32]:
# type casting : forcefully -> large:small
num=34.90
num1=30
res=num+num1
new_res=int(res)
print(type(res))
print(type(new_res))
print(res)
print(new_res)

<class 'float'>
<class 'int'>
64.9
64

In [24]:
num=34.90
num1=30
res=num+num1
print(res)

64.9

In [35]:
num1=int( input("Enter your num 1 : ") )
num2=int( input("Enter your num 2 : ") )
res=num1+num2
print(res)

Enter your num 1 :  23
Enter your num 2 :  23

46

In [ ]:
int()
str()
float()

In [37]:
num1=float( input("Enter your num 1 : ") )
num2=float( input("Enter your num 2 : ") )
res=num1+num2
print(res)

Enter your num 1 :  34
Enter your num 2 :  34

68

In [39]:
user_name=str( input("Enter your num 1 : ") )
user_address=str( input("Enter your num 2 : ") )
res=user_name+"-"+user_address
print(res)

Enter your num 1 :  Dev
Enter your num 2 :  noida

Dev noida

In [40]:
num1=float( input("Enter your num 1 : ") )
num2=int( input("Enter your num 2 : ") )
res=num1+num2
print(res)

Enter your num 1 :  34
Enter your num 2 :  34

68.0

In [42]:
num1=int( input("Enter your num 1 : ") )
num2=int( input("Enter your num 2 : ") )
res=num1+num2
print(res)

Enter your num 1 :  34.89

ValueError: invalid literal for int() with base 10: '34.89'

In [46]:
user_mob=8787878778
print(len(user_mob))
res=str(user_mob)
print(type(res))
print(len(res))

TypeError: object of type 'int' has no len()

In [5]:
# wap to print the last digit of a number given by user.
num=int(input("Enter your number :"))
res=num%10
print("The last digit of",num,"is :",res)
print(f"The last digit of {num} is : {res}")

Enter your number : 847584

The last digit of 847584 is : 4
The last digit of 847584 is : 4

In [ ]:
# Operators in python.
# 1.Arithmatic operator (+,-,*,**:exponential,/:division,//:floor div,%:modulus->remeinder)
# 2.Comparision/Relational operator (<,>,<=,>=,==,!=)
# 3.Assignment operator (+=,-=,/=)
# 4.Membership operator (in ,not in)
# 5.Identity operator (is ,is not)
# 6.Logical operator( and , or ,not)
# 7.Bitwise operator (&,|,^,<<,>>)

In [22]:
# 1.Arithmatic operator
n1=20
n2=7
# res = n1+n2
# res = n1-n2
# res = n1*n2
# res= n1**n2
# res=n1%n2 
# res = n1/n2
# res = n1//n2
print(res)

6

In [30]:
# 2.Comparision/Relational operator (<,>,<=,>=,==,!=)
# user1_age=50
# user2_age=40
# res=user1_age>user2_age
# res=user1_age==user2_age
# res=user1_age<user2_age
# res=user1_age>=user2_age
# res=user1_age<=user2_age
# res=user1_age!=user2_age

print(res)

True

In [34]:
# t1=True
# t2=True*1*0
# res=t1==t2
# print(res)

False

In [37]:
# 3.Assignment operator (+=,-=,/=)
# a=30
# #a=a+40 # standard method.
# a+=40 # shorthand method.
# a*=10
# a/=2
# print(a)

350.0

In [51]:
# 6.Logical operator( and , or ,not)
# user1_age=50
# user2_age=40
# res=(user1_age>user2_age) and (user1_age > 45) and (user2_age<user1_age) or  (10>44)
# res=(user1_age<user2_age) or (user1_age < 45) or (user2_age<user1_age) or (10>44)
# res=not((user1_age>user2_age) and (user1_age > 45) and (user2_age<user1_age) and (10>44))
# res=not(user1_age>user2_age) and not(user1_age > 45) and not(user2_age<user1_age) and (10>44)

# res=user1_age<user2_age
# res=user1_age>=user2_age
# res=user1_age<=user2_age
# res=user1_age!=user2_age
# print(res)

In [67]:
# user1_name="d"
# user2_name="de"
# res=user1_name>=user2_name
# print(res)

False

In [59]:
# 4.Membership operator (in ,not in) 
# note : not work on numeric values.
# num='89867'
# res='7' not in num
# print(res)

# num='python'
# res='pt' in num
# print(res)

False

In [54]:
# 5.Identity operator (is ,is not)
# a=1000
# b=1000
# res= a is b 
# print(res)
# print(id(a))
# print(id(b))


# a="pythonflkj"
# b="pythonyure"
# res= a is b 
# print(res)
# print(id(a))
# print(id(b))

False
1998077038224
1998077040528

In [63]:
# 7.Bitwise operator (&,|,^,<<,>>)
a=3
b=2
res = a & b
print(hex(res))

0x2

In [66]:
pin=1234
print(hex(pin))

0x4d2

In [ ]:
# Conditional statements.